.awards-section {
  margin: 100px 0;
}

.awards-section__textbox {
  display: flex;
  align-items: start;
  gap: 12rem;
  margin-bottom: 4rem;

  & h2 {
    flex: auto;
  }
}

.awards-section__package {
  width: 120px;
}

.awards-section__line {
  border-top: 1.5px solid #979797;
  margin-bottom: 50px;
}
