@use "index.scss";

form {
  max-width: 475px;
  width: 100%;
  min-height: 291px;
  margin-top: 50px;
}

input {
  display: flex;
  max-width: 400px;
  width: 100%;
  min-height: 37px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #979797;
}

.btn {
  width: 125px;
  height: 50px;
  border-radius: 2px;
  background-color: #4a4ff2;
  color: white;
  margin-top: 40px;
}
