@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
.grid__section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1em 1fr 1em 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.grid__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.grid__container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.awards-section {
  margin: 100px 0;
}

.awards-section__textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 12rem;
  margin-bottom: 4rem;
}
.awards-section__textbox h2 {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  font-size: 22px;
  font-weight: 700;
}
.awards-section__textbox h3 {
  font-size: 18px;
  font-weight: 700;
}

.awards-section__package {
  width: 120px;
}
.awards-section__package h4 {
  font-size: 16px;
  font-weight: 400;
}
.awards-section__package p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.awards-section__line {
  border-top: 1.5px solid #979797;
  margin-bottom: 50px;
}

.service-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1080px;
  width: 100%;
  min-height: 106px;
  margin-top: 85px;
  margin-bottom: 100px;
}

.service-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 1fr 1fr;
  grid-template-columns: 65% 1fr 1fr;
}
.service-box h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
}
.service-box ul {
  list-style-type: none;
}
.service-box li {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
}

body {
  font-family: "Mulish", sans-serif;
  margin: auto;
  max-width: 1110px;
  width: 100%;
  min-height: 100vh;
}

header,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  list-style-type: none;
}
nav a {
  color: black;
  text-decoration-line: none;
}
nav a:hover {
  cursor: pointer;
  color: aqua;
}

.pages-links {
  font-size: 18px;
  font-weight: 700;
  line-height: auto;
  letter-spacing: -0.35px;
}

.intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 94%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 635px;
  width: 100%;
  min-height: 251px;
}
.title-box .sub-title {
  color: #4a4ff2;
  font-size: 22px;
  font-weight: 700;
  line-height: auto;
  letter-spacing: -0.42px;
}
.title-box .main-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}
.title-box span {
  color: #4a4ff2;
}

.line-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 185px;
  margin-bottom: 30px;
}
.line-box .design-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1.6px solid #979797;
  width: 30px;
  height: 3px;
  margin-left: 12px;
}
.line-box .design-p {
  font-style: italic;
  font-size: 18px;
  width: 212px;
  height: 26px;
}

.projects-section__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects-section__one .projects-text__box {
  max-width: 260px;
  width: 100%;
}
.projects-section__one h1 {
  margin-top: 100px;
  margin-bottom: 22px;
}

form {
  max-width: 475px;
  width: 100%;
  min-height: 291px;
  margin-top: 100px;
}

input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  width: 100%;
  min-height: 37px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #979797;
}
input:hover {
  background-color: #979797;
}
input:focus {
  background-color: #4a4ff2;
}

.btn {
  width: 125px;
  height: 50px;
  border-radius: 2px;
  background-color: #4a4ff2;
  color: white;
  margin-top: 40px;
  margin-bottom: 100px;
}
.btn.btn:hover {
  cursor: pointer;
  background-color: black;
}
.btn.btn:focus {
  background-color: rgb(255, 0, 0);
}