@use "grid";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
$main-font: "Mulish", sans-serif;
$blue-color: #4a4ff2;

body {
  font-family: $main-font;
  margin: auto;
  max-width: 1110px;
  width: 100%;
  min-height: 100vh;
}

header,
footer {
  display: flex;
  justify-content: space-between;

  & img {
    display: flex;

    margin-left: 10px;
  }
}

nav {
  display: flex;
  list-style: none;

  & ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
  }

  & a {
    color: black;
    text-decoration-line: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.first-section {
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.title-box {
  display: flex;
  flex-direction: column;
  max-width: 635px;
  width: 100%;
  min-height: 251px;
}

.blue {
  color: $blue-color;
}

.line-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 185px;
  margin-bottom: 30px;
}

.design-line {
  display: flex;
  border-top: 1.6px solid #979797;
  width: 28px;
  height: 3px;
  margin-left: 10px;
}

.design-p {
  color: #111111;
  width: 212px;
  height: 26px;
}
