@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
$main-font: "Mulish", sans-serif;
$blue-color: #4a4ff2;

body {
  font-family: $main-font;
  margin: auto;
  max-width: 1110px;
  width: 100%;
  min-height: 100vh;
}

header,
footer {
  display: flex;
  justify-content: space-between;

  & img {
    display: flex;

    margin-left: 10px;
  }
}

nav {
  display: flex;
  list-style: none;

  & ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
  }

  & a {
    color: black;
    text-decoration-line: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.first-section {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.title-box {
  display: flex;
  flex-direction: column;
  max-width: 635px;
  width: 100%;
  min-height: 251px;
}

.blue {
  color: $blue-color;
}

.line-box {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 100%;
}

.design-line {
  display: flex;
  border-top: 1px solid #979797;
  width: 30px;
  margin-left: 10px;
}

.design-p {
  color: #111111;
  width: 212px;
  height: 26px;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(32, 1fr);
  grid-gap: 1em;
}

.first {
  grid-column: 1 / 4;
  grid-row: 1 / 8;
}

.second {
  grid-column: 4 / 7;
  grid-row: 1 / 7;
}

.third {
  grid-column: 7 / 10;
  grid-row: 1 / 11;
}

.fourth {
  grid-column: 1 / 4;
  grid-row: 8 / 18;
}

.fifth {
  grid-column: 4 / 7;
  grid-row: 7 / 14;
}

.sixth {
  grid-column: 7 / 10;
  grid-row: 11 / 18;
}

// .seventh {
//   grid-column: 1 / 4;
//   grid-row: 8 / 18;
// }

// .eight {
//   grid-column: 4 / 7;
//   grid-row: 7 / 14;
// }

// .ninth {
//   grid-column: 7 / 10;
//   grid-row: 11 / 18;
// }
